:root {
    --light-green: rgb(145,203,57);
    --dark-green: rgb(100,174,52);
    --light-red: rgb(241,69,87);
    --dark-red: rgb(201,75,88);
    --white: rgb(255,255,255);
    --light-grey: rgb(244,244,244);
    --dark-grey: rgb(198,198,198);
    --black-half-transparent: rgba(0,0,0,.5);
    --black-border-transparent: rgba(0,0,0,.3);
    --black: rgb(0,0,0);
}

body {
    margin: 0;
    padding: 0;
    background: url('./assets/images/background.jpg') no-repeat no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: none;
}

/*.forms__wrapper {*/
/*    display: grid;*/
/*    grid-template-columns: 400px 400px;*/
/*}*/

.logo__wrapper {
    margin-top: 20px;
}

.logo {
    opacity: .6;
    max-width: 350px;
}

.logo:hover {
    opacity: 1;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    margin: 2px 0;
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    min-width: 130px;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.btn::-moz-focus-inner {
    border: 0;
}

.btn--primary {
    background: var(--light-green);
    background: linear-gradient(180deg, var(--light-green) 0%, var(--dark-green) 100%);
    border: 1px solid var(--dark-green);
}

.btn--primary:hover:not(:disabled) {
    background: var(--dark-green);
}

.btn--danger {
    background: var(--light-red);
    background: linear-gradient(180deg, var(--light-red) 0%, var(--dark-red) 100%);
    border: 1px solid var(--dark-red);
}

.btn--danger:hover {
    background: var(--dark-red);
}

.form__header, .btn {
    color: var(--white);
    text-align: center;
    text-shadow: var(--black-half-transparent) 1px 1px;
}

.form--border {
    background-color: var(--black-border-transparent);
    padding: 20px;
    border-radius: 5px;
}

.form__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--light-grey);
}

.form__input {
    padding: 10px 10px 10px 50px;
    margin: 0 0 15px 0;
    position: relative;
    height: 40px;
    box-sizing: border-box;
    filter: none;
}

.form__label {
    align-items: center;
    color: var(--dark-grey);
    font-size: .8rem;
    position: relative;
}

.form__label::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 10px;
    height: 20px;
    width: 20px;
}

.form__label--mail:before {
    background: url('./assets/icons/mail.svg') no-repeat no-repeat center;
}

.form__label--user:before {
    background: url('./assets/icons/user.svg') no-repeat no-repeat center;
}

.form__label--lock:before {
    background: url('./assets/icons/lock.svg') no-repeat no-repeat center;
}

.form__label--location:before {
    background: url('./assets/icons/mapmarker.svg') no-repeat no-repeat center;
}

.form__label--mobile:before {
    background: url('./assets/icons/mobile.svg') no-repeat no-repeat center;
}

.form__label::after {
    content: '';
    position: absolute;
    display: flex;
    top: 9px;
    left: 40px;
    height: 20px;
    border: .5px solid var(--dark-grey);
}

.checkbox__wrapper {
    align-items: center;
    margin: 10px 0;
    box-sizing: border-box;
}

.form__checkbox {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.form__label--checkbox {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--dark-grey);
    font-size: .8rem;
}

.form__checkbox + .form__label--checkbox::before {
    content: '';
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    box-sizing: border-box;
}

.form__checkbox:checked + .form__label--checkbox {
    color: var(--dark-green);
    text-shadow: 0 0 .65px var(--black-border-transparent);
}

.form__checkbox:checked + .form__label--checkbox::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    top: 5px;
    left: 5px;
    border: 1px solid var(--light-green);
    border-radius: 3px;
    background: var(--light-green);
    background: linear-gradient(180deg, var(--light-green) 0%, var(--dark-green) 100%);
}

.form__select {
    padding: 10px 10px 10px 50px;
    margin: 2px 0;
}

.form__select::-moz-focus-inner, .form__select:focus::-moz-focus-inner {
    border: 0;
}

.form__select--dropdown {
    position: relative;
}

.form__select--dropdown:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
    top: 12px;
    right: 10px;
    transform: rotate(-45deg);
}

.form__select, .form__checkbox, .form__input, .form__textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: .8rem;
    color: var(--dark-grey);
}

*::placeholder, .form__select {
    color: var(--dark-grey);
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: bold;
}

.form__textarea {
    padding: 10px;
    margin: 2px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn:focus, .form__input:focus, .form__textarea:focus, .form__select:focus, .form__checkbox:focus + .form__label--checkbox::before {
    border: 1px solid black;
}

.form__input:focus, .form__input:focus::placeholder, .form__textarea:focus, .form__textarea:focus::placeholder, .form__select:focus, .form__checkbox:focus + .form__label--checkbox {
    color: black;
}

.btn:focus-visible {
    border: 1px solid black;
}
