:root {
    --light-green: rgb(145,203,57);
    --dark-green: rgb(100,174,52);
    --light-red: rgb(241,69,87);
    --dark-red: rgb(201,75,88);
    --white: rgb(255,255,255);
    --light-grey: rgb(244,244,244);
    --dark-grey: rgb(198,198,198);
    --black-half-transparent: rgba(0,0,0,.5);
    --black-border-transparent: rgba(0,0,0,.3);
    --black: rgb(0,0,0);
}

body {
    margin: 0;
    padding: 0;
    background: url('./assets/images/background.jpg') no-repeat no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: none;
}

.forms__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 500px));
    grid-template-rows: repeat(12, 100px);
    grid-column-gap: 30px;
    margin: 20px;
}

.form__register {
    grid-column: 1;
    grid-row: 1 / 6;
}

.form__email {
    grid-column: 1;
    grid-row: 6 / 12;
}

.form__sign {
    grid-column: 2;
    grid-row: 1 / 3;
}

.form__recover {
    grid-column: 2;
    grid-row: 4 / 7;
}

.form__subscribe {
    grid-column: 2;
    grid-row: 7 / 10;
}

.logo__wrapper {
    margin-top: 20px;
}

.logo__wrapper--footer {
    order: 6;
    grid-column: 2;
    grid-row: 10 / 12;
    margin: 0 auto;
}

.logo {
    margin: 20px 0;
    opacity: .3;
}

.logo:hover {
    opacity: 1;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    min-width: 130px;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.btn::-moz-focus-inner {
    border: 0;
}

.btn--primary {
    background: var(--light-green);
    background: linear-gradient(180deg, var(--light-green) 0%, var(--dark-green) 100%);
    border: 1px solid var(--dark-green);
}

.btn--primary:hover:not(:disabled) {
    background: var(--dark-green);
}

.btn--danger {
    background: var(--light-red);
    background: linear-gradient(180deg, var(--light-red) 0%, var(--dark-red) 100%);
    border: 1px solid var(--dark-red);
}

.btn--danger:hover {
    background: var(--dark-red);
}

.form__header, .btn {
    color: var(--white);
    text-align: center;
    text-shadow: var(--black-half-transparent) 1px 1px;
}

.form--border {
    background-color: var(--black-border-transparent);
    padding: 20px;
    border-radius: 5px;
}

.form__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--light-grey);
}

.form__input {
    padding: 10px 10px 10px 65px;
    margin: 0 0 15px 0;
    position: relative;
    height: 40px;
    box-sizing: border-box;
    filter: none;
    text-indent: .5px;
}

.input__icons {
    display: flex;
    align-items: center;
    color: var(--dark-grey);
    font-size: .8rem;
    position: relative;
}

.input__icons::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 15px;
    height: 20px;
    width: 20px;
}

.input__icon--mail:before {
    background: url('./assets/icons/mail.svg') no-repeat no-repeat center;
}

.input__icon--user:before {
    background: url('./assets/icons/user.svg') no-repeat no-repeat center;
}

.input__icon--lock:before {
    background: url('./assets/icons/lock.svg') no-repeat no-repeat center;
}

.input__icon--location:before {
    background: url('./assets/icons/mapmarker.svg') no-repeat no-repeat center;
}

.input__icon--mobile:before {
    background: url('./assets/icons/mobile.svg') no-repeat no-repeat center;
}

.input__icons::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 50px;
    height: 20px;
    border: .5px solid var(--dark-grey);
}

.checkbox__wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
    box-sizing: border-box;
}

.form__checkbox {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.input__icon--checkbox {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--dark-grey);
    font-size: .8rem;
}

.form__checkbox + .input__icon--checkbox::before {
    content: '';
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    box-sizing: border-box;
}

.form__checkbox:checked + .input__icon--checkbox {
    color: var(--dark-green);
    text-shadow: 0 0 .65px var(--black-border-transparent);
}

.form__checkbox:checked + .input__icon--checkbox::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    top: 5px;
    left: 5px;
    border: 1px solid var(--light-green);
    border-radius: 3px;
    background: var(--light-green);
    background: linear-gradient(180deg, var(--light-green) 0%, var(--dark-green) 100%);
}

.input__icon--select:before, .input__icon--select:after {
    top: 11px;
}

.form__select {
    padding: 10px 10px 10px 65px;
    margin: 2px 0;
    text-indent: .5px;
    height: 40px;
}

.form__select--dropdown {
    position: relative;
}

.form__select--dropdown:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
    right: 15px;
    transform: rotate(-45deg);
}

.form__select, .form__checkbox, .form__input, .form__textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: .8rem;
    font-family: "Open Sans", sans-serif;
    color: var(--dark-grey);
    font-weight: bold;
}

*::placeholder, .form__select {
    color: var(--dark-grey);
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: bold;
    opacity: 1;
}

.form__textarea {
    padding: 10px;
    margin: 2px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn:focus, .form__input:focus, .form__textarea:focus, .form__select:focus, .form__checkbox:focus + .input__icon--checkbox::before {
    border: 1px solid black;
}

.form__input:focus, .form__input:focus::placeholder, .form__textarea:focus, .form__textarea:focus::placeholder, .form__select:focus, .form__checkbox:focus + .input__icon--checkbox {
    color: black;
}

@-moz-document url-prefix() {
    .form__select {
        text-indent: -2px;
    }
    .form__select::-moz-focus-inner {
        border: none
    }
    .form__select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

@media (max-width: 768px) {
    .forms__wrapper {
        display: flex;
        flex-direction: column;
        justify-items: stretch;
    }

    .form__wrapper {
        display: flex;
        flex-direction: column;
    }
}
